@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@import "tailwindcss";

html{
    font-family: system-ui, sans-serif;
    color: #fff,
}

@theme {
    --font-poppins: 'Poppins';
}