---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Banner from '../layouts/Banner.astro';
import About from '../layouts/About.astro';
import Services from '../layouts/Services.astro';
import Technologies from '../layouts/Technologies.astro';
import Course from '../layouts/Course.astro';

---

<Layout title='ArcusCode - Porfolio'>
	<Header />
	<Banner />
	<main class="w-7xl max-xl:w-full mx-auto">
		<About/>
		<Services/>
		<Technologies/>
		<Course/>
	</main>
</Layout>
