---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Banner from '../layouts/Banner.astro';
import About from '../layouts/About.astro';
import Projects from '../layouts/Projects.astro';
---

<Layout title='ArcusCode - Porfolio'>
	<Header />
	<Banner />
	<main class="w-7xl max-xl:w-full mx-auto flex font-poppins">
		<About />
		<Projects />
	</main>
</Layout>
