---
interface Props{
    title: string

}

const {title} = Astro.props;
---

<article class="relative w-auto h-auto font-bold font-poppins rounded-lg">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent from-0% to-gray-900 to-80% rounded-lg"></div>
    <h2 class="absolute bottom-12 pl-2">{title}</h2>
    <img class="inset-0 w-full rounded-lg" src="https://picsum.photos/300/200" alt={title}>

    <section class=" absolute flex flex-row justify-between bottom-4 px-2 w-full">
        <div>
            <slot />
        </div>
        <a href="/" class="px-2 py-0.5 rounded-sm bg-orange-500 flex items-center justify-center gap-1 ">
            Demo
            <svg width="28" height="28">
                <use href="/icons/sprites.svg#preview"></use>
            </svg>
        </a>    
    </section>


</article>