---

---

<header class="border-b-1 border-gray-900">
    <section class="w-7xl max-xl:w-full mx-auto flex justify-between items-center p-4 h-19  pl-16 pr-16 max-sm:pl-2 max-sm:pr-2">
        <a href="/" class="flex font-extrabold text-1xl text-gray-800 dark:text-white items-end">
            <img src="/logo-ligth.svg" alt="Logo ArcusCode"  class="w-6"/>
            <h1 class="">ArcusCode</h1>
        </a>
        <div class="flex items-center justify-center">
            <nav class="flex gap-4 text-gray-800 font-bold dark:text-white">
                <a href="">Home</a>
                <a href="">Projects</a>
                <a href="">Blog</a>
            </nav>
            <button>
                <img src="/sun.svg" alt="mode-ligth" class="opacity-0 visible-hidden">
            </button>
            <button>
                <img src="/moon.svg" alt="mode-dark">
            </button>
        </div>
    </section>
</header>