<header class="border-b-1 border-gray-900">
    <section class="w-7xl max-xl:w-full mx-auto flex justify-between items-center px-4 h-19  max-sm:pl-2 max-sm:pr-2">
        <a href="/" class="flex font-extrabold text-1xl text-gray-800 dark:text-white items-end">
            <svg width="28" height="28">
                <use href="/icons/sprites.svg#logo"/>
            </svg> 
            <h1 class="">ArcusCode</h1>
        </a>
        <div class="flex items-center justify-center gap-4">
            <nav class="flex gap-4 text-gray-800 font-bold dark:text-white">
                <a href="">Home</a>
                <a href="">Projects</a>
                <a href="">Blog</a>
            </nav>
            <button class="cursor-pointer">
                <svg width="28" height="28">
                    <use href="/icons/sprites.svg#sun"/>
                </svg> 
            </button>
            <button class="cursor-pointer">
                <svg width="28" height="28" class="hidden">
                    <use href="/icons/sprites.svg#moon" />
                </svg>
            </button>
        </div>
    </section>
</header>