---
import "../styles/global.css";

interface Props{
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Portafolio de Steven Sol, desarrollador web especializado en tecnologías modernas como Astro, React, Tailwind CSS y más. Explora mis proyectos, experiencia y habilidades." />
		<meta name="keywords" content="portafolio, desarrollador web, frontend, react, astro, tailwind, proyectos, junior, Ecuador" />
		<!-- Open Graph (para Facebook, LinkedIn, etc.) -->
		<meta property="og:title" content="Portafolio de Steven Sol" />
		<meta property="og:description" content="Explora mis proyectos y habilidades, desarrollador frontend con experiencia en tecnologías modernas." />
		<meta property="og:image" content="https://tu-dominio.com/imagen-preview.jpg" />
		<meta property="og:url" content="https://tu-dominio.com/" />
		<meta property="og:type" content="website" />
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Portafolio de Steven Sol" />
		<meta name="twitter:description" content="Desarrollador frontend con pasión por el diseño moderno y el código limpio." />
		<meta name="twitter:image" content="https://tu-dominio.com/imagen-preview.jpg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-950">
		<div class="w-7xl max-lg:w-full mx-auto">
			<slot />
		</div>
	</body>
</html>

