<section class="font-bold relative w-auto">
    <h2 class="text-4xl dark:text-white text-black after:absolute after:w-20 after:h-1 after:bg-orange-500 after:left-0 after:top-9.5 mb-5">Latest <span class="text-orange-500">Work</span></h2>
    <div class="flex justify-end mb-2">
        <a href="" class="flex dark:text-white text-black">
            <span>see more</span>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
        </a>
    </div>
    <section class="grid grid-cols-2 gap-3 w-[35rem]">
        <!-- Aqui van a ir las card projects -->
         <div class="w-auto h-[13rem] bg-blue-500">hi</div>
         <div class="w-auto h-[13rem] bg-blue-500">hi</div>
         <div class="w-auto h-[13rem] bg-blue-500">hi</div>
         <div class="w-auto h-[13rem] bg-blue-500">hi</div>
    </section>
</section>